.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    padding: 1rem 2rem;
}
.header span{
    font-size: 1.5rem;
    font-weight: bold;
}