* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  padding: 1rem;
  margin: 0 auto;
  width: 550px;
  height: 888px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #918E9B;
}
.container {
  width: 317px;
  margin: 0 auto;
  background-color: #1A1B21;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: white;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
}

.hero-image img {
  width: 80%;
  margin: 0 auto;
}
.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.details {
  text-align: center;
  padding: .25rem .5rem;
}
.details .gold{
  color: #F3BF99;
  font-size: 1.2em;
}

.container p {
  color: #DCDCDC;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contact button {
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  border: none;
  width: 130px;
  padding: .5rem 1rem;
  border-radius: .25rem;
  fill: currentColor;
  font-size: 1rem;
}
.contact #mail{
  background-color: #D1D5DB;
}

.contact #linkedin{
  background-color: #5093E2;
  padding: .5rem 1rem;
}
.contact p {
  color: #1A1B21;
  letter-spacing: 2px;
}

.contact svg{
  height: 25px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-top: .5rem;
}
.interests, .about {
  padding: 0 1rem;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
  padding: 1rem;
}
.social-icons li {
  width: 40px;
}
.social-icons svg{
  color: wheat;
}