* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  font-family: 'Inter', sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.navbar {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: blueviolet;
}
.navbar img {
  height: 35px;
}
.main {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.input {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  border-radius: .5rem;
  border: 1px solid slategrey;
}
.btn{
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  width: 100%;
}

.upper {
  text-transform: uppercase;
}
.newsletter-form, .star-wars, .window-tracker{
  min-height: 100vh;
  margin-top: 2rem;
}
.newsletter-form form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.check{
  display: flex;
  font-size: 1.5rem;
  gap: 1rem;
  font-style: italic;
  color: slategrey;
}
.check input{
  width: 20px;
}
.boxes{
  min-height: 100vh;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: center;
  align-items: center;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid brown;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
}